html, body, div, span,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	line-height: 1;
}
*,
:before,
:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body.dark-theme {
	background: #242f3e;
}
body.light-theme {
	background: #fff;
}
.container {
	margin: auto;
	max-width: 800px;
}
.lpt-chart {
	padding: 0 30px;
}
.lpt-chart-wrapper {
	position: relative;
}
.lpt-chart-name {
	display: block;
	padding: 30px 0;
	font-weight: bold;
	font-size: 20px;
}
.dark-theme .lpt-chart-name {
	color: #fff;
}
.light-theme .lpt-chart-name {
	color: #000
}
.lpt-chart-preview {
	position: relative;
	overflow: hidden;
}
.dark-theme .lpt-chart-preview__slider:before,
.dark-theme .lpt-chart-preview__slider:after {
	background: #1f2835;
	opacity: .6;
}
.light-theme .lpt-chart-preview__slider:before,
.light-theme .lpt-chart-preview__slider:after {
	background: rgba(0, 113, 198, 0.07);
}
.lpt-chart-preview__slider:before,
.lpt-chart-preview__slider:after {
	content: '';
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100%;
	z-index: -1;
}
.lpt-chart-preview__slider:before {
	right: 100%;
}
.lpt-chart-preview__slider:after {
	left: 100%;
}
.lpt-chart-preview__slider {
	position: absolute;
	top: 0;
	height: 100%;
}
.light-theme .lpt-chart-preview__slider_inner {
	border-color: #c0d1e1;
}
.dark-theme .lpt-chart-preview__slider_inner {
	border-color: #56626d;
}
.lpt-chart-preview__slider {
	width: 22%;
	left: 78%;
	/*opacity: .7;*/
	cursor: grab;
}
.lpt-chart-preview__slider_inner:before, .lpt-chart-preview__slider_inner:after {
	content: '';
	position: absolute;
	top: 0;
	width: 18px;
	height: 100%;
}
.lpt-chart-preview__slider_inner {
	position: absolute;
	width: 100%;
	height: 100%;
	border-width: 1px 8px;
	border-style: solid;
	z-index: 0;
}
.lpt-chart-preview__slider_inner:before {
	left: -8px;
	cursor: w-resize;
}
.lpt-chart-preview__slider_inner:after {
	right: -8px;
	cursor: e-resize;
}
.lpt-chart-controls {
	margin: 30px 0 80px;
}
.lpt-chart-theme-switcher {
	padding: 50px 0;
	margin: auto;
	text-align: center;
	color: #36a8f1;
	cursor: pointer;
}
.light-theme .lpt-chart-check-wrapper {
	border: 1px solid #e6ecf0;
}
.dark-theme .lpt-chart-check-wrapper {
	border: 1px solid #344658;
}
.lpt-chart-check-wrapper {
	position: relative;
	display: inline-block;
	align-items: center;
	margin: 0 25px 25px 0;
	padding: 9px 16px;
	border-radius: 24px;
	height: 38px;
}
.lpt-chart-check-wrapper input {
	display: none;
}
.light-theme .lpt-chart-check-wrapper label {
	color: #000;
}
.dark-theme .lpt-chart-check-wrapper label {
	color: #fff;
}
.lpt-chart-check-wrapper label {
	position: relative;
	font-weight: normal;
	font-size: 14px;
	padding-left: 28px;
}
.lpt-chart-check-wrapper span {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid;
	left: -9px;
	top: 50%;
	background: transparent;
	-webkit-transition: border .24s cubic-bezier(.35, 0, .25, 1);
	transition: border .24s cubic-bezier(.35, 0, .25, 1);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}
.lpt-chart-check-wrapper input:checked + label span {
	border: 12px solid;
}
.lpt-chart-check-wrapper span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.lpt-chart-check-wrapper input:checked + label span:after {
	animation: border .8s;
}
.lpt-chart-check-wrapper span:after {
	animation: border2 .8s;
}
.light-theme .lpt-chart-check-wrapper span:after {
	border: 0px solid #d5e3ea;
}
.dark-theme .lpt-chart-check-wrapper span:after {
	border: 0px solid #40566B;
}
.lpt-chart-check-wrapper span:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	-webkit-transition: .12s .2s cubic-bezier(.35, 0, .25, 1) width, .12s .2s cubic-bezier(.35, 0, .25, 1) height;
	transition: .12s .2s cubic-bezier(.35, 0, .25, 1) width, .12s .2s cubic-bezier(.35, 0, .25, 1) height;
}
.lpt-chart-check-wrapper input:checked + label span:before {
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	width: 6px;
	height: 11px;
	border-color: #fff;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	-ms-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}
@keyframes border {
	0% {
		border-width: 6px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		border-width: 6px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
@keyframes border2 {
	0% {
		border-width: 6px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		border-width: 6px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}